build
.vscode
*.in
*.out
*.pt
*.pth
*.whl
*.idea
*.qdrep
*.sqlite
*.vocab
*.ncu-rep
*.egg-info
*.env
.cache
__pycache__
dist
.idea/
cmake-*/
venv/
.clangd
.flake8
.black
.pre-commit-config.yaml
*.log
